base: config/base_episode.yml

model:
  backbone: resnet50
  pooling: gem_pooling
  head: BNHead
  bn_where: after

data:
  name: peta
  image_size: [256, 192]
  train:
    num_attribute: 8
    num_positive: 8
    num_negative: 8
    num_iterator: 700
  val:
    num_attribute: 8
    num_positive: 8
    num_negative: 8
    num_iterator: 100

optimizer:
  name: sgd
  lr: 0.01
  specified_lr:
    enable: True
    lr: 0.1
    layers: [head]

loss:
  name: Singular_BCE
  reduction: mean

freeze:
  enable: True
  layers: [backbone]
  epochs: 10

lr_scheduler:
  enable: True
  name: CosineAnnealingLR
  max_iters: 120
  eta_min_lr: 0

clip_grad_norm_:
  enable: True
  max_norm: 10.0

trainer:
  epochs: 120

trainer_colab:
  epochs: 120
